<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>
        function find_get_parameter(parameter_name) {
            var result = null,
                tmp = [];
            location.search
                .substr(1)
                .split("&")
                .forEach(function (item) {
                    tmp = item.split("=");
                    if (tmp[0] === parameter_name) result = decodeURIComponent(tmp[1]);
                });
            return result;
        }
        let get_replacement = function(elem_id, get_id) {
            return function() {
                let xhr = new XMLHttpRequest();
                xhr.open("GET", get_id)
                xhr.send()
                xhr.onload = function () {
                    document.getElementById(elem_id).innerHTML = xhr.response
                };
            };
        };
        window.onload = get_replacement("division_list", "get_div_select_list");
        let update_employee_data = function (){
            let xhr = new XMLHttpRequest();
            let url = new URL("https://google.com/search");
            let val = find_get_parameter("employee_id")
            if (val != null && val.length !== 0) {
                url.searchParams.set('id', val);
            }
            xhr.open("GET", "get_emp_data" + url.toString().substring(25));
            xhr.send();
            xhr.onload = function () {
                document.getElementById("employee_data").innerHTML = xhr.response
            };
        }
        update_employee_data();
    </script>
</head>
<body>
<div class="global_wrapper">
    <div>
        <div class="title">
            <h1>Система информации о персонале компании</h1>
        </div>
        <a href="/main">Главная</a>
        <a href="/divisions">Список подразделений</a>
        <a href="/employees">Список служащих</a>
    </div>
    <div class="content">
        <div>Информация о работнике:</div>
        <div id="employee_data"></div><br>

        <h2>Добавить новую должность:</h2>
        <label for="position_name">Название новой должности:</label><input id="position_name" type="text" size="40"><br>
        <label for="position_desc">Описание новой должности:</label><input id="position_desc" type="text" size="40"><br>
        <label for="division_list">Выбор подразделения:</label><select size="1" id="division_list"></select><br>
        <input type="button" id="button" value="Добавить">
        <script>
            button.onclick = function() {
                if (document.getElementById("position_name").value.length !== 0 &&
                    document.getElementById("position_desc").value.length !== 0 &&
                    document.getElementById("division_list").value.length !== 0) {

                    let xhr = new XMLHttpRequest();
                    let url = new URL("https://google.com/search");
                    url.searchParams.set('emp_id', find_get_parameter("employee_id"));
                    url.searchParams.set('pos_name', document.getElementById("position_name").value);
                    url.searchParams.set('pos_desc', document.getElementById("position_desc").value);
                    url.searchParams.set('div_info', document.getElementById("division_list").value);

                    xhr.open("GET", "add_emp_position" + url.toString().substring(25));
                    xhr.send();
                    xhr.onload = update_employee_data
                }
            };
        </script>

        <h2>Обновить или удалить данные о служащем:</h2>
        <input type="button" id="update_button" value="Обновить">
        <script>
            update_button.onclick = function() {
                if (document.getElementById("emp_name_input").value.length !== 0 &&
                    document.getElementById("home_adr_input").value.length !== 0) {

                    let xhr = new XMLHttpRequest();
                    let url = new URL("https://google.com/search");
                    url.searchParams.set('emp_id', find_get_parameter("employee_id"));
                    url.searchParams.set('emp_name', document.getElementById("emp_name_input").value);
                    url.searchParams.set('home_adr', document.getElementById("home_adr_input").value);

                    xhr.open("GET", "update_emp_data" + url.toString().substring(25));
                    xhr.send();
                    xhr.onload = update_employee_data
                }
            };
        </script>
        <input type="button" id="delete_button" value="Удалить">
        <script>
            delete_button.onclick = function() {
                let xhr = new XMLHttpRequest();
                let url = new URL("https://google.com/search");
                url.searchParams.set('emp_id', find_get_parameter("employee_id"));

                xhr.open("GET", "delete_emp_data" + url.toString().substring(25));
                xhr.send();
                xhr.onload = function () {
                    window.location.href = "/employees";
                };
            };
        </script>
    </div>
</div>
</body>
</html>