<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>
        let get_replacement = function(elem_id, get_id) {
            return function() {
                let xhr = new XMLHttpRequest();
                xhr.open("GET", get_id)
                xhr.send()
                xhr.onload = function () {
                    document.getElementById(elem_id).innerHTML = xhr.response
                };
            };
        };
    </script>
</head>
<body>
<div class="global_wrapper">
    <div>
        <div class="title">
            <h1>Система информации о персонале компании</h1>
        </div>
        <a href="/main">Главная</a>
        <a href="/divisions">Список подразделений</a>
        <a href="/employees">Список служащих</a>
    </div>
    <div class="content">
        <div>Главная страница, получается....</div>
        <div>Насколько я понимаю, функционально здесь ничего кроме ссылок на другие страницы и не нужно</div>

    </div>
</div>
</body>
</html>